URxvt.font: -*-terminus ja-medium-r-*-*-16-*-*-*-*-*-iso10646-1
URxvt.boldFont: -*-terminus ja-medium-r-*-*-16-*-*-*-*-*-iso10646-1
!URxvt.lineSpace: 1
URxvt.preeditType: OffTheSpot
!URxvt.reverseVideo: True
URxvt.saveLines: 10000
URxvt.scrollBar: False
URxvt.scrollTtyKeypress: True
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.secondaryWheel: True
URxvt.termName: xterm-256color
